[submodule "lexakai-annotations"]
	path = lexakai-annotations
	url = https://github.com/Telenav/lexakai-annotations.git
	branch = release/current
[submodule "kivakit"]
	path = kivakit
	url = https://github.com/Telenav/kivakit.git
	branch = release/current
[submodule "kivakit-extensions"]
	path = kivakit-extensions
	url = https://github.com/Telenav/kivakit-extensions.git
	branch = feature/relative-to-bug
[submodule "kivakit-stuff"]
	path = kivakit-stuff
	url = https://github.com/Telenav/kivakit-stuff.git
	branch = feature/relative-to-bug
[submodule "kivakit-examples"]
	path = kivakit-examples
	url = https://github.com/Telenav/kivakit-examples.git
	branch = feature/relative-to-bug
[submodule "lexakai"]
	path = lexakai
	url = https://github.com/Telenav/lexakai.git
	branch = release/current
[submodule "mesakit"]
	path = mesakit
	url = https://github.com/Telenav/mesakit.git
	branch = feature/relative-to-bug
[submodule "mesakit-extensions"]
	path = mesakit-extensions
	url = https://github.com/Telenav/mesakit-extensions.git
	branch = feature/relative-to-bug
[submodule "mesakit-examples"]
	path = mesakit-examples
	url = https://github.com/Telenav/mesakit-examples.git
	branch = feature/relative-to-bug
[submodule "cactus"]
	path = cactus
	url = https://github.com/Telenav/cactus.git
	branch = feature/relative-to-bug
[submodule "telenav-superpom"]
	path = telenav-superpom
	url = https://github.com/Telenav/telenav-superpom.git
	branch = release/current
[submodule "mesakit-assets"]
	path = mesakit-assets
	url = https://github.com/Telenav/mesakit-assets.git
	branch = publish
[submodule "lexakai-assets"]
	path = lexakai-assets
	url = https://github.com/Telenav/lexakai-assets.git
	branch = publish
[submodule "kivakit-assets"]
	path = kivakit-assets
	url = https://github.com/Telenav/kivakit-assets.git
	branch = publish
[submodule "cactus-assets"]
	path = cactus-assets
	url = https://github.com/Telenav/cactus-assets.git
	branch = publish
